.pc-main{
  color: #fff !important;
  background-color: #007AFF !important;
}

.pc-main-text {
  color: #007AFF;
}

.pc-secondary{
  color: #fff !important;
  background-color: #007AFF !important;
}

#logo {
  height: 27px;
  margin-top: 3px;
}

.noUi-connect {
  background: #007AFF !important;
}