.pc-main{
  color: #fff !important;
  background-color: #3498db !important;
}

.pc-main-text {
  color: #3498db;
}

.pc-secondary{
  color: #fff !important;
  background-color: #2980b9 !important;
}

#logo {
  height: 27px;
  margin-top: 3px;
}

.noUi-connect {
  background: #3498db !important;
}