.pc-main{
  color: #fff !important;
  background-color: #16bae7 !important;
}

.pc-main-text {
  color: #16bae7;
}

.pc-secondary{
  color: #fff !important;
  background-color: #16bae7 !important;
}

#logo {
  margin-top: 0px;
  height: 20px;
}

#logoText {
  height: 30px;
  margin-left: 8px;
}

#logo-container {
  font-size: inherit;
}

#pleaseZoom {
  z-index: 1001;
  background: #5db24a;
  color: white;
}

.noUi-connect {
  background: #16bae7 !important;
}