<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">

<head>
  <title>Chargeprice - Der Ladetarifrechner für dein Elektroauto</title>
  <meta id="theme-color" name="theme-color" content="#3498db" />

  <meta id="metaTitle" name="title" content="Chargeprice - Der Ladetarifrechner für dein Elektroauto">
  <meta id="metaDescription" name="description" content="Der Ladetarifrechner für dein Elektroauto. Auto auswählen und den günstigsten Tarif finden.">
  <meta id="metaKeywords" name="keywords" content="Ladetarif,Ladepreise,Ladetarife,Ladekosten,Tarifrechner,Elektroauto,E-Mobilität,Ladekarten,Ladestation,EV,Stromanbieter,Energie,Strom,vergleichen,günstig,Ladekartenanbieter">
  <meta name="author" content="Chargeprice">
  <meta name="publisher" content="Chargeprice">
  <meta name="copyright" content="Chargeprice">
  <meta id="metaLanguage" http-equiv="content-language" content="de">
  
  <meta property="og:site_name" content="Chargeprice" />
  <meta id="ogTitle" property="og:title" content="Der Ladetarifrechner für dein Elektroauto" />
  <meta id="ogDescription" property="og:description" content="Der Ladetarifrechner für dein Elektroauto. Ladedauer eingeben, Ladestation auswählen und den günstigsten Tarif finden." />
  <meta property="og:image" content="https://www.chargeprice.app/img/chargeprice.jpg" />

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link id="metaAppleIcon" rel="apple-touch-icon" sizes="180x180" href="/img/logos/apple-touch-icon.png">
  <link id="metaIcon" rel="icon" type="image/png" href="/img/favicon-32x32.png">
  <link id="metaManifest" rel="manifest" href="/themes/plugchecker/site.webmanifest">
  <link rel="mask-icon" href="/img/logos/safari-pinned-tab.svg" color="#3498db">
  <meta name="msapplication-TileColor" content="#3498db">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdn.maptiler.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="flex-container">

    <div class="flex-item-s w3-bar pc-main" id="top-bar">
      <div class="w3-bar-item w3-large"><div id="logo-container"></div></div>
      
      <button id="adapt-settings" class="w3-button w3-hover-dark-gray w3-bar-item"><img class="inverted" src="img/edit.svg"></button>
      <button id="show-info" class="w3-button w3-hover-dark-gray w3-bar-item"><img class="inverted" src="img/info.svg"></button>
      <div id="loadingIndicator" class="w3-bar-item w3-middle" >
        <img class="inverted" class="w3-button " src="img/refresh-2.svg">
      </div>
    </div>

    <div class="flex-item-d flex-container  w3-light-gray" style="height: auto">
      <div id="sidebar" class="w3-sidebar w3-white w3-card-4 w3-animate-left">

          <div class="w3-bar pc-secondary">
            <span class="w3-bar-item w3-large"><span id="sidebarHeader"></span></span>
            <button id="sidebar-close" class="w3-bar-item w3-button w3-right w3-hover-dark-gray" title="close Sidebar">
              <img class="inverted" class="w3-button " src="img/close.svg">
            </button>
          </div>

          <div id="settingsContent" class="w3-container w3-padding-16"></div>
          <div id="infoContent" class="w3-container w3-padding-16"></div>
          <div id="pricesContent" class="w3-container w3-padding-16"></div>
          <div id="manageMyTariffsContent" class="w3-container w3-padding-16"></div>
      </div>

      <div id="map" class="flex-item-d"></div>
      <div id="search" class="w3-display-topright"></div>
      <div id="pleaseZoom" class="w3-tag w3-padding w3-orange" style="display: none;"></div>
    </div>
  </div>

  <div id="snackbar"></div>

  <div id="messageDialog" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-bar pc-secondary w3-padding">
        <h3 id="messageDialogHeader"></h3>
      </div>
      <div id="messageDialogContent" class="w3-container w3-padding"></div>
      <button id="messageDialogOk" class="w3-btn pc-secondary w3-margin"></button>
    </div>
  </div>

  <script id="locationSearchTempl" type="text/html">  
    <input id="search-box" class="w3-border w3-input w3-padding" placeholder="{{:~t('locationSearchPlaceholder')}}"/>
  </script>

  <script id="pricesContentTempl" type="text/html">  
    <div id="station-info"></div>
    <select id="select-charge-point" class="w3-select w3-margin-top w3-margin-bottom" name="option"></select>

    <div id="noPricesAvailable" class="w3-margin-top"><label>{{:~t("noTariffAvailable")}}</label></div>
    
    <div id="prices">
      <label id="batteryRangeInfo" class="w3-block"></label>
      <div id ="batteryRange" class="w3-margin-top"></div>

      <label id="parameterNote" class="w3-margin-bottom w3-margin-top w3-medium w3-block"></label>
      <table class="w3-table w3-striped w3-margin-top">
        <tr>
          <th>{{:~t("tariff")}}</th>
          <th id="pricesListCurrencyHeader" class="w3-right"></th>
        </tr>
        <tbody id="priceList">
            
        </tbody>
      </table>
      <label class="w3-margin-top w3-small w3-block">
        {{:~t("totalPriceInfo")}}
      </label>
    </div>        
  
  </script>

  <script id="settingsTempl" type="text/html">

    <label class="w3-block">{{:~t("myVehicle")}}</label>
    <select id="selectVehicle" class="w3-select w3-border w3-margin-bottom">
    </select>

    <input id="onlyTariffsWithoutMonthlyFees" class="w3-check" type="checkbox">
    <label>{{:~t("onlyTariffsWithoutMonthlyFees")}}</label><br>

    <input id="providerCustomerOnly" class="w3-check w3-margin-top" type="checkbox">
    <label>{{:~t("showExclusiveProviderCustomerTariffs")}}</label><br>
    <label class="w3-small">{{:~t("showExclusiveProviderCustomerTariffsDetail")}}</label><br>

    <input id="onlyShowMyTariffs" class="w3-check w3-margin-top" type="checkbox">
    <label>{{:~t("onlyShowMyTariffs")}}</label><br>
    <label class="w3-small">{{:~t("onlyShowMyTariffsDetail")}}</label><br>
    <label id="manage-my-tariffs" class="w3-small link-text">{{:~t("manageMyTariffsLink")}}</label><br>

    <label class="w3-margin-top w3-large w3-block">{{:~t("mapFilter")}}</label>

    <input id="onlyHPC" class="w3-check" type="checkbox">
    <label>{{:~t("onlyHPC")}}</label><br>

    <input id="onlyFree" class="w3-check w3-margin-top" type="checkbox">
    <label>{{:~t("onlyFreeStations")}}</label><br>

    <input id="openNow" class="w3-check w3-margin-top" type="checkbox">
    <label>{{:~t("onlyOpenNow")}}</label><br>

    <label class="w3-block w3-margin-top">{{:~t("displayedCurrencyHeader")}}</label>
    <select id="selectCurrency" class="w3-select cp-quarter w3-block w3-border">
    </select>

    {{if showUnbalancedLoad }}
    <label class="w3-margin-top w3-large w3-block">{{:~t("expertOptions")}}</label>

    <input id="allowUnbalancedLoad" class="w3-check" type="checkbox">
    <label>{{:~t("unbalancedLoadHeader")}}</label><br>
    <label class="w3-small">{{:~t("unbalancedLoadDetail")}}</label><br>
    {{/if}}

    <button id="settings-ok" class="w3-btn pc-secondary w3-margin-top">{{:~t("ok")}}</button>
  </script>

  <script id="infoTempl" type="text/html">
    <div class="w3-margin-bottom">
      <label class="w3-margin-top w3-large">{{:~t("poiKey")}}</label><br>
      <span class="w3-tag w3-green w3-margin-top" style="background: #575757 !important">{{:~sf(~t("chargePowerTo"),3.7)}}</span>
      <span class="w3-tag w3-green w3-margin-top" style="background: #36a5d8 !important">{{:~sf(~t("chargePowerTo"),22)}}</span>
      <span class="w3-tag w3-green w3-margin-top" style="background: #f4952f !important">{{:~sf(~t("chargePowerTo"),50)}}</span>
      <span class="w3-tag w3-green w3-margin-top" style="background: #9d3135 !important">{{:~sf(~t("chargePowerFrom"),50)}}</span>    
      <span class="w3-tag w3-green w3-margin-top" style="background: #d33d2a !important">{{:~t("locationPin")}}</span>    
    </div>

    <div id="theme-info" class="w3-margin-bottom">
      <span id="theme-name"></span> {{:~t("poweredBy")}} <a href="https://www.chargeprice.app" target="_blank">Chargeprice</a>
    </div>

    <button id="btAppInstall" class="w3-btn pc-secondary w3-margin-top w3-margin-bottom hidden">
      <img class="inverted" src="img/download.svg">
      {{:~t("installApp")}}
    </button>
    
    <div class="w3-margin-bottom">
      <label class="w3-margin-top w3-large">{{:~t("aboutHeader")}}</label><br>
      <a href="http://www.chargeprice.net">chargeprice.net</a>
    </div>

    <div class="w3-margin-bottom">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="48LQQZJAW7W42" />
      <input type="image" src="https://www.paypalobjects.com/{{:~t('paypalLocale')}}/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      </form>
    </div>

    <label class="w3-margin-top w3-large">{{:~t("feedbackHeader")}}</label><br>
    <div class="w3-margin-bottom">{{:~t("feedbackContent")}}</div>

    <label class="w3-margin-top w3-large">{{:~t("partnerHeader")}}</label><br>
    <a id="greenDriveLink" href="https://www.greendrive-accessories.com/" target="_blank"><img width="100%" src="img/partners/greendrive.png"></a>
    <br><br>

    <label class="w3-margin-top w3-large">{{:~t("dataSourceHeader")}}</label><br>
    <ul>
      <li>{{:~t("dataSourceContentGoingElectric")}}</li>
      <li>{{:~t("dataSourceContentPlugsurfing")}}</li>
      <li>{{:~t("dataSourceContentNewMotion")}}</li>
      <li>{{:~t("dataSourceContentOther")}}</li>
    </ul>

    <label class="w3-margin-top w3-large">{{:~t("disclaimerHeader")}}</label><br>
    <div class="w3-margin-bottom">{{:~t("disclaimerContent")}}</div>

    <label class="w3-margin-top w3-large">{{:~t("openSourceHeader")}}</label><br>
    <div class="w3-margin-bottom">
      <a href="https://github.com/hoenic07/plugchecker" target="_blank">Chargeprice (Github)</a><br>
      <a href="https://github.com/hoenic07/chargeprice-api-docs" target="_blank">Chargeprice API</a><br>
      <a href="https://github.com/hoenic07/open-ev-data" target="_blank">Open EV Data (Github)</a><br>
    </div>
  </script>

  <script id="manageMyTariffsTempl" type="text/html">
    
    <div class="w3-margin-bottom">{{:~t("manageMyTariffsDescription")}}</div>

    <button id="manage-cards-back" class="w3-btn pc-secondary">{{:~t("ok")}}</button>

    <table id="charge-card-list" class="w3-table w3-striped w3-margin-top">
    {{for tariffs}}
      <tr style="{{if featuring}} background: {{:featuring.backgroundColor}} !important; {{/if}}">
        <td><input id="{{:id}}" name="tariff" class="w3-check" type="checkbox"></td>
        <td>
          {{if name == null}}
            <span>{{:provider}}</span>
          {{else}}
            <span>{{:name}}</span><br>
            <label class="w3-margin-top w3-small">{{:provider}}</label>
          {{/if}}
          {{if providerCustomerOnly }}
          <br>
          <label class="w3-margin-top w3-small">{{:~t("providerCustomerOnly")}}</label> 
        {{/if}}
        </td>
        <td>
          {{if featuring}}
            <img class="w3-right feature-logo" src="{{:featuring.logoUrl}}"/>
          {{/if}}
        </td>
      </tr>
    {{/for}}
    </table>
  </script>

  <script id="priceTempl" type="text/html">
    <tr style="{{if featuring}} background: {{:featuring.backgroundColor}} !important; {{/if}}" >
      <td class="cp-price-left">
        {{if tariff.tariffName == null}}
        <a href="{{:tariff.url}}" target="_blank"><span>{{:tariff.provider}}</span></a>
        {{else}}
        <a href="{{:tariff.url}}" target="_blank"><span>{{:tariff.tariffName}}</span></a><br>
          <label class="w3-margin-top w3-small">{{:tariff.provider}}</label>
        {{/if}}
        {{if tariff.totalMonthlyFee > 0 || tariff.monthlyMinSales > 0}}
          <br>
          <label class="w3-margin-top w3-small">
          {{if tariff.totalMonthlyFee > 0 }}{{:~t("baseFee")}}: &euro;{{dec:tariff.totalMonthlyFee}}/{{:~t("month")}}** {{/if}}
          {{if tariff.monthlyMinSales > 0 }}{{:~t("minSales")}}: &euro;{{dec:tariff.monthlyMinSales}}/{{:~t("month")}} {{/if}}
        </label>
        {{/if}}
        
        {{if tariff.providerCustomerTariff }}
          <br>
          <label class="w3-margin-top w3-small">{{:~t("providerCustomerOnly")}}</label> 
        {{/if}}
      </td>
      <td class="cp-price-right">
        <label class="w3-right">{{dec:price}}</label><br>
        <label class="w3-right w3-small">
          {{if price > 0}}{{:~t("average")}} {{dec:pricePerKWh}}/kWh{{/if}}
        </label><br>
        <label class="w3-right w3-small">
          {{if distribution.session}} {{if distribution.session < 1}}{{perc:distribution.session}}{{/if}} {{:~t("session")}}{{/if}}
          {{if distribution.minute}} {{if distribution.minute < 1}}{{perc:distribution.minute}}{{/if}} {{:~t("per")}} <i class="fa fa-clock-o"></i>{{/if}}
          {{if distribution.kwh}} {{if distribution.kwh < 1}}{{perc:distribution.kwh}}{{/if}} {{:~t("per")}} kWh{{/if}}
        </label>
        {{if featuring}}
          <br>
          <a href="{{:tariff.url}}" target="_blank"><img class="w3-right feature-logo" src="{{:featuring.logoUrl}}"/></a>
        {{/if}}
      </td>
    </tr>
  </script>

  <script id="stationTempl" type="text/html">
    <label class="w3-margin-top w3-large">{{:name}}</label><br>    
    <label>{{:address}}</label><br>    
    
    {{if priceDescription}}<div class="w3-margin-top">{{:priceDescription}}</div>{{/if}}  
    <div class="cp-margin-top-small">
      {{if isFreeParking}}<span class="w3-tag w3-green cp-margin-top-small">{{:~t("freeParking")}}</span>{{/if}} 
      {{if isFreeCharging}}<span class="w3-tag w3-green cp-margin-top-small">{{:~t("freeCharging")}}</span>{{/if}} 
      {{if network}}<span class="w3-tag w3-light-gray cp-margin-top-small"><label><i class="fa fa-sitemap"></i> {{:network}}</label><br>    </span>{{/if}} 
      {{if goingElectricUrl}}<span class="w3-tag w3-light-gray cp-margin-top-small"><a href="{{:goingElectricUrl}}" target="_blank"><i class="fa fa-external-link"></i> {{:~t("goingElectricLink")}}</a></span>{{/if}} 
    </div>
  </script>

  <script id="pleaseZoomTempl" type="text/html">
    {{:~t("pleaseZoomIn")}}
  </script>
</body>