<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de-DE">

<head>
  <title>Chargeprice - Der Ladetarifrechner für dein Elektroauto</title>
  <meta id="theme-color" name="theme-color" content="#3498db" />

  <meta id="metaTitle" name="title" content="Chargeprice - Der Ladetarifrechner für dein Elektroauto">
  <meta id="metaDescription" name="description" content="Der Ladetarifrechner für dein Elektroauto. Auto auswählen und den günstigsten Tarif finden.">
  <meta id="metaKeywords" name="keywords" content="Ladetarif,Ladepreise,Ladetarife,Ladekosten,Tarifrechner,Elektroauto,E-Mobilität,Ladekarten,Ladestation,EV,Stromanbieter,Energie,Strom,vergleichen,günstig,Ladekartenanbieter">
  <meta name="author" content="Chargeprice">
  <meta name="publisher" content="Chargeprice">
  <meta name="copyright" content="Chargeprice">
  <meta id="metaLanguage" http-equiv="content-language" content="de">
  
  <meta property="og:site_name" content="Chargeprice" />
  <meta id="ogTitle" property="og:title" content="Der Ladetarifrechner für dein Elektroauto" />
  <meta id="ogDescription" property="og:description" content="Der Ladetarifrechner für dein Elektroauto. Ladedauer eingeben, Ladestation auswählen und den günstigsten Tarif finden." />
  <meta property="og:image" content="https://www.chargeprice.app/img/chargeprice.jpg" />

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link id="metaAppleIcon" rel="apple-touch-icon" sizes="180x180" href="/img/logos/apple-touch-icon.png">
  <link id="metaIcon" rel="icon" type="image/png" href="/img/favicon-32x32.png">
  <link id="metaManifest" rel="manifest" href="/themes/plugchecker/site.webmanifest">
  <link rel="mask-icon" href="/img/logos/safari-pinned-tab.svg" color="#3498db">
  <meta name="msapplication-TileColor" content="#3498db">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
  <link rel="stylesheet" href="css/w3.css?v=1">
  <link rel="stylesheet" href="css/w3-colors-flat.css?v=1">
  <link rel="stylesheet" href="https://cdn.maptiler.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css?v=4">

</head>

<body>
  <div class="flex-container">

    <div class="flex-item-s w3-bar pc-main" id="top-bar">
      <div class="w3-bar-item w3-large"><div id="logo-container"></div></div>
      
      <button id="adapt-settings" class="w3-button w3-hover-dark-gray w3-bar-item"><img class="inverted" src="img/edit.svg"></button>
      <button id="show-info" class="w3-button w3-hover-dark-gray w3-bar-item"><img class="inverted" src="img/info.svg"></button>
      <div id="loadingIndicator" class="w3-bar-item w3-middle" >
        <img class="inverted" class="w3-button " src="img/refresh-2.svg">
      </div>
    </div>

    <div class="flex-item-d flex-container  w3-light-gray" style="height: auto">
      <div id="sidebar" class="w3-sidebar w3-white w3-card-4 w3-animate-left">

          <div class="w3-bar pc-secondary">
            <span class="w3-bar-item w3-large"><span id="sidebarHeader"></span></span>
            <button id="sidebar-close" class="w3-bar-item w3-button w3-right w3-hover-dark-gray" title="close Sidebar">
              <img class="inverted" class="w3-button " src="img/close.svg">
            </button>
          </div>

          <div id="settingsContent" class="w3-container w3-padding-16"></div>
          <div id="infoContent" class="w3-container w3-padding-16"></div>
          <div id="pricesContent" class="w3-container w3-padding-16"></div>
          <div id="manageMyTariffsContent" class="w3-container w3-padding-16"></div>
      </div>

      <div id="map" class="flex-item-d"></div>
      <div id="search" class="w3-display-topright"></div>
      <div id="pleaseZoom" class="w3-tag w3-padding w3-orange" style="display: none;"></div>
    </div>
  </div>

  <div id="snackbar"></div>

  <div id="messageDialog" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-bar pc-secondary w3-padding">
        <h3 id="messageDialogHeader"></h3>
      </div>
      <div id="messageDialogContent" class="w3-container w3-padding"></div>
      <button id="messageDialogOk" class="w3-btn pc-secondary w3-margin"></button>
    </div>
  </div>

  <script id="locationSearchTempl" type="text/html">  
    <input id="search-box" class="w3-border w3-input w3-padding" placeholder="{{:~t('locationSearchPlaceholder')}}"/>
  </script>

  <script id="stationTempl" type="text/html">
    <label class="w3-margin-top w3-large">{{:name}}</label><br>    
    <label>{{:address}}</label><br>    
    
    {{if priceDescription}}<div class="w3-margin-top">{{:priceDescription}}</div>{{/if}}  
    <div class="cp-margin-top-small">
      {{if isFreeParking || freeParking }}<span class="w3-tag w3-green cp-margin-top-small">{{:~t("freeParking")}}</span>{{/if}} 
      {{if isFreeCharging || isFreeCharging}}<span class="w3-tag w3-green cp-margin-top-small">{{:~t("freeCharging")}}</span>{{/if}} 
      {{if network}}<span class="w3-tag w3-light-gray cp-margin-top-small"><label><i class="fa fa-sitemap"></i> {{:network}}</label><br>    </span>{{/if}} 
      {{if goingElectricUrl}}<span class="w3-tag w3-light-gray cp-margin-top-small"><a href="{{:goingElectricUrl}}" target="_blank"><i class="fa fa-external-link"></i> {{:~t("goingElectricLink")}}</a></span>{{/if}} 
      <span class="w3-tag w3-light-gray cp-margin-top-small"><a href="{{: ~ios() ? 'maps' : 'https' }}://maps.google.com/maps?daddr={{:latitude}},{{:longitude}}&ll=" target="_blank"><i class="fa fa-location-arrow"></i> {{:~t("openInMapsLink")}}</a></span>
    </div>
  </script>

  <script id="pleaseZoomTempl" type="text/html">
    {{:~t("pleaseZoomIn")}}
  </script>
</body>